
.credentials-create-custom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.credentials-create-custom-form {
  margin-bottom: 20px;
  
}

.credentials-create-custom-form label {
  margin-right: 10px;
}

.credentials-create-custom-form input {
  margin-right: 10px;
}

.credential-custom-card {
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.custom-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

.custom-cbta-logo,
.custom-sep-logo {
  height: 50px;
}

.custom-body-credencial {
  padding: 2px;
  background: linear-gradient(to bottom, #ffffff 25%, #66ccff 100%);
}

.custom-photo-section {
  display: flex;
  gap: 10px;
}

.custom-student-photo {
  width: 100px;
  height: 150px;
  border-radius: 10px;
}

.custom-name-logo-credential {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.custom-student-name {
  margin: 10px 0;
  font-size: 25px;
  font-weight: bold;
}

.custom-info-section {
  text-align: left;
  margin: 10px 0;
}

.custom-info-section h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.custom-info-section p {
  margin: 5px 0;
  font-size: 14px;
  padding: 3px;
}
.custom-info-section p:nth-last-child(4) {
  text-align: center;
}
.custom-career-logo {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
}

.custom-error-message {
  color: red;
  margin-top: 10px;
}

.exit-button{
  background-color: red;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}